index(element="d-textarea-mc")

  .d-textarea-mc(as="$wrapper" class="{{if focus}} -focus{{/}}")

    view(
      is="d-textarea-cursors"
      as="$cursors"
      data="{{cursors}}"
      userId="{{userId}}"
      scroll="{{scroll}}"
      )

    textarea(as="$textarea") {{data}}

    .d-textarea-mirror(as="$mirror") &#65279;
